<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Login - Mascotero</title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>

<body>

    <%- include('../partials/header') %>

        <div class="container">
            <h2>Acceso de Administrador</h2>
            <% if (typeof error !== 'undefined') { %>
                <p class="error"><%= error %></p>
            <% } %>
            <form method="POST" action="/admin/login">
                <label for="usuario">Usuario:</label>
                <input type="text" id="usuario" name="usuario" required>

                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" required>
                <button type="button" id="autocompletadoBtn">Autocompletado</button>
                <button type="submit">Ingresar</button>
            
            </form>
        </div>

        <script src="/js/loginAutocompletado.js"></script>

</body>

</html>
