<header>
    <div class="logo">LOGO</div>
    <div class="header-info">
        <strong>MASCOTERO</strong>
        <small>Danila y Rony</small>
    </div>
    <nav>
        <a href="/">Inicio</a>
        <a href="/productos">Productos</a>
    </nav>
</header>
