<%
  function urlPagina(primera, ultima) {
    let url = "/admin/ventas?primeraVen=" + primera + "&ultimaVen=" + ultima;
    if (buscarVen) {
      url += "&buscarVen=" + encodeURIComponent(buscarVen);
    }
    if (buscarFechaVen) {
      url += "&buscarFechaVen=" + encodeURIComponent(buscarFechaVen);
    }
    return url;
  }
%>
<div class="pagination">
  <% if (hayAnterior) { %>
    <a href="<%= urlPagina(antPrimera, antUltima) %>" class="pagBtn">Anterior</a>
  <% } else { %>
    <a href="#" class="pagBtn disabled">Anterior</a>
  <% } %>
  <span>Página <%= numPagina %></span>
  <% if (haySiguiente) { %>
    <a href="<%= urlPagina(sigPrimera, sigUltima) %>" class="pagBtn">Siguiente</a>
  <% } else { %>
    <a href="#" class="pagBtn disabled">Siguiente</a>
  <% } %>
</div>
