<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Productos - Mascotero</title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>

<body>

    <%- include('partials/header') %>

        <div class="container productos-container">
            <h2>Elegí una categoría</h2>

            <div class="categorias">
                <button type="button" class="categoria-btn" onclick="window.location.href='/productos/comida'">Comida</button>
                <button type="button" class="categoria-btn" onclick="window.location.href='/productos/accesorios'">Accesorios</button>
            </div>
        </div>

</body>

</html>