<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Productos - Mascotero</title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>

<body>

    <%- include('partials/header') %>

        <div class="container productos-container">
            <h2>Elegí una categoría</h2>

            <div class="categorias">
                <a href="/productos/comida" class="categoria-btn">Comida</a>
                <a href="/productos/accesorios" class="categoria-btn">Accesorios</a>
            </div>
        </div>

</body>

</html>